@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

 th, td {
    padding: 15px;
    text-align: left;
}

.collapsibleList li{
  list-style-image : url('/static/images/button.png');
  cursor           : auto;
}

li.collapsibleListOpen{
  list-style-image : url('/static/images/button-open.png');
  cursor           : pointer;
}

li.collapsibleListClosed{
  list-style-image : url('/static/images/button-closed.png');
  cursor           : pointer;
}


label {
    font-weight: normal !important;
}

.multiple-tags tr,
.multiple-tags td{
  padding: 0 !important;
  margin: 0 !important;
}
