{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/css.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Optional JavaScript, it could be at the end of the body -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    {% block extra_head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body {% block body_attributes %}{% endblock %}>
{% block body_contents %}{% endblock %}
<!-- This should be moved to a configuration setting, specially if someone else will install SPI Media Gallery.
Just contact SPI to make this change if interested or we will make when we try to remove SPI references in
the templates -->
<script data-goatcounter="https://media-swisspolar-ch.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Media</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form>
          <div class="form-group">
            <label for="datereceived">Date received</label>
            <input type="text" class="form-control" id="datereceived" placeholder="Date received">
          </div>
          <div class="form-group">
            <label for="photographer">Photographer</label>
            <input type="text" class="form-control" id="photographer" placeholder="Photographer">
          </div>
          <div class="form-group">
            <label for="file_url">File URL</label>
            <input type="file" class="form-control-file" id="file_url" placeholder="File URL">
          </div>
          <button onClick="add(); return false;" type="button" class="btn btn-primary">Add tag</button>
          <div class="form-group">
            <div class="row mr-0 ml-0" id="tags">
            </div>
          </div>
      </div>
      <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Upload</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
 <script src="{% static 'js/upload_medium.js' %}"></script>
</body>
</html>