<nav class="navbar navbar-expand-lg navbar-light navbar-border">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'medium_view' %}">Medium</a>
      <a class="nav-item nav-link" href="{% url 'selection_view' %}">Selection</a>
    </div>

  </div>
  <a class="navbar-brand btn btn-primary btn-lg" data-toggle="modal" data-target=".uploadModal">Upload medium</a>
  <!-- Modal -->
<div class="modal fade uploadModal" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Media</h5>
        <button type="button" class="close" id="close_mu" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <form id="medium_form">
       <div class="modal-body" id="uploadModal">
         <div class="form-group">
          <label for="datereceived">Date taken</label>
          <input type="date" class="form-control" id="datereceived" placeholder="Date taken" required>
         </div>
         <div class="form-group">
            <label for="loaction">Location</label>
            <input type="text" class="form-control" id="location" name="location" placeholder="Location" required>
         </div>
         <div class="form-group">
           <label for="photographer">Photographer</label>
           <input type="text" class="form-control" id="photographer" name="photographer" placeholder="Photographer"
           required>
         </div>
         <div class="form-group">
           <label for="people">People</label>
           <input type="text" class="form-control" id="people" placeholder="People" required>
         </div>
         <div class="form-group">
           <label for="project">Project</label>
           <input type="text" class="form-control" id="project" placeholder="Project" required>
         </div>
         <div class="form-group">
           <label for="copyright">Copyright</label>
           <input type="text" class="form-control" id="copyright" name="copyright" placeholder="Copyright" required>
         </div>
         <div class="form-group">
           <label for="license">License</label>
           <input type="text" class="form-control" id="license" name="license" placeholder="license" required>
         </div>
         <div class="form-group">
           <label for="file_url">File URL</label>
           <input type="file" class="form-control-file" id="file_input" placeholder="File URL"
           onchange="return validateFileExtension(this)">
         </div>
         <input type="hidden" id="medium_type" name="medium_type">
         <button onClick="add(); return false;" type="button" class="btn btn-primary">Add tag</button>
         <div class="form-group">
           <div class="row mr-0 ml-0" id="tags"><input type="text" name="tag_input[]" class="form-control col-sm-6 pd-2
           " required><input type="text" name="tag_input[]" class="form-control col-sm-6 pd-2" required><input
           type="text" name="tag_input[]" class="form-control col-sm-6 pd-2" required></div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Upload</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
     </form>
    </div>
  </div>
</div>
</nav>
<div class="alert alert-success alert-dismissible fade show col-lg-12 mt-3" id="medium_success_msg" role="alert"
style="display:none">
  <strong>Uploaded Successfully!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="alert alert-danger alert-dismissible fade show col-lg-12 mt-3" id="medium_error_msg" role="alert"
style="display:none">
    <strong>Upload Failed!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>