{% load replace_query_string %}

<div class="pagination">
    <span class="step-links">
        {% if media.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?{% param_replace page=media.previous_page_number %}">previous</a>
        {% else %}
            <span class="text-muted">
                &laquo; first
                previous
            </span>
        {% endif %}

        <span class="current">
            Page {{ media.number }} of {{ media.paginator.num_pages }}
        </span>

        {% if media.has_next %}
            <a href="?{% param_replace page=media.next_page_number %}">next</a>
            <a href="?{% param_replace page=media.paginator.num_pages %}">last &raquo;</a>
        {% else %}
            <span class="text-muted">
                next
                last &raquo;
            </span>
        {% endif %}
    </span>
</div>
