{% extends 'base.tmpl' %}
{% block title %}SPI Media Gallery - Display media{% endblock %}

{% block body %}
    <body>
    <p>
        <div class="container">
            <h3>{{ media_file }}</h3>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-thumbnail" src="{{ photo_small_url }}">
                </div>
                <div class="col-md-6">
                    {% for photo_size in sizes_list %}
                        <a href="{{ photo_size.image_link }}">{{ photo_size.label }}</a> ({{ photo_size.resolution }}, {{ photo_size.size }} KB)<br>
                    {% endfor %}
                    <a href="{{ original_file }}">Original file</a>
                    <br>
                    Tags of this image:
                        {% for tag in list_of_tags %}
                            <a href="/search/tag/{{tag.id}}">{{tag.tag}}</a>,
                        {% endfor %}
                </div>
            </div>
        </div>
    </body>
{% endblock %}