{% extends 'base.tmpl' %}
{% load leaflet_tags %}
{% block title %}SPI Media Gallery - Display media{% endblock %}

{% block extra_head %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block body_contents %}
    <p>
        <div class="container">
            {% include "logo.tmpl" %}
            <p></p>
            <b>{{ file_id }}</b>
            <div class="row">
                <div class="col-md-6">

                    {% if photo_small_url %}
                        <img class="img-thumbnail" src="{{ photo_small_url }}"><br>
                    {% endif %}

                    {% if video_small_url %}
                        <video width="550" controls>
                            <source src="{{ video_small_url }}" type="video/webm">
                        </video>
                    {% endif %}
                    <small>
                        <br>
                        <b>Copyright:</b> {{ copyright }}<br>
                        <b>Photographer:</b> {{ photographer }}<br>
                        <b>License:</b> <br>
                        {{ license | safe }}<p>
                    </small>
                    <!--
                    <div align="left">
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    -->

                </div>
                <div class="col-md-6">
                    {% for photo_size in sizes_list %}
                        <a href="{{ photo_size.image_link }}">{{ photo_size.label }}</a> ({{ photo_size.resolution }}, {{ photo_size.size }})<br>
                    {% endfor %}
                    <p>
                        <a href="{{ original_file }}">Download Original file</a> ({{ original_resolution}}, {{ original_file_size }})</a>
                    <p>
                    Tags:
                        {% for tag in list_of_tags %}
                            <a href="/search/tags/?tags={{tag.id}}">{{tag.tag}}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    <p>

                    {% if date_taken %}
                    Date taken: {{ date_taken }}
                    {% endif %}
                    <p>
                    {% if photo_latitude %}
                    Latitude: {{ photo_latitude|floatformat:3 }} Longitude: {{ photo_longitude|floatformat:3 }}<br>
                    <a href="/search/near?latitude={{ photo_latitude }}&longitude={{ photo_longitude }}&km=10">Nearby (10 km) photos</a>
                    {% endif %}
                    <p>
                    Random <a href="/display/random/photo/">photo</a>, <a href="/display/random/video/">video</a>, <a href="/display/random/medium/">media</a>
                    <p>
                    {% if photo_latitude and photo_longitude %}
                        {% leaflet_map "photo_map" %}
                        <script language="javascript">
                              window.addEventListener("map:init", function (event) {
                                var map = event.detail.map;

                                var marker = L.marker([{{ photo_latitude }}, {{ photo_longitude }}]).addTo(map);
                              });
                        </script>
                    {% else %}
                        Photo without location information at the moment.
                    {% endif %}
                    </div>
            </div>
        </div>
{% endblock %}