{% extends 'base.tmpl' %}
{% block title %}SPI Media Gallery - Display media{% endblock %}

{% block body_contents %}
    <p>
        <div class="container">
            {% include "logo.tmpl" %} <h3>{{ media_file }}</h3>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-thumbnail" src="{{ photo_small_url }}">
                </div>
                <div class="col-md-6">
                    {% for photo_size in sizes_list %}
                        <a href="{{ photo_size.image_link }}">{{ photo_size.label }}</a> ({{ photo_size.resolution }}, {{ photo_size.size }})<br>
                    {% endfor %}
                    <p>
                        <a href="{{ original_file }}">Download Original file</a> ({{ original_resolution}}, {{ original_file_size }})</a>
                    <p>
                    Tags:
                        {% for tag in list_of_tags %}
                            <a href="/search/tag/{{tag.id}}">{{tag.tag}}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    <p>

                    {% if date_taken %}
                    Date taken: {{ date_taken }}
                    {% endif %}
                    <p>
                    Go to a <a href="/select_random_photo/">random photo</a>
                </div>
            </div>
        </div>
{% endblock %}