{% extends 'base.tmpl' %}
{% load leaflet_tags %}
{% block title %}SPI Media Gallery - Error{% endblock %}

{% block body_contents %}
    <p>
        <div class="container">
            {% include "logo.tmpl" %}
            <p></p>
            {{ error_message }}
            <p>
                <a href="/">Main page</a>
            </p>
        </div>
{% endblock %}