{% extends '_base.tmpl' %}
{% load leaflet_tags %}
{% block title %}SPI Media Gallery - Error{% endblock %}

{% block body_contents %}
    <div class="container">
        {% include "_logo.tmpl" %}
        <p>
            {{ error_message }}
        </p>
        <p>
            <a href="/">Home page</a>
        </p>
    </div>
{% endblock %}