{% extends '_base.tmpl' %}
{% block title %}SPI Media Gallery - Medium ID not found{% endblock %}

{% block body_contents %}
    <p>
        <div class="container">
            {% include "_logo.tmpl" %}
            <p>
                Medium ID not found: {{ medium_id_not_found }}
            </p>

            Try a different one:
            <form action="{% url 'search' %}" method="GET">
                <table>
                    {{ form_search_medium_id }}
                </table>
                <input type="submit" value="Search">
            </form>
        Or go to the <a href="/">homepage</a>.
        </div>
    </p>
{% endblock %}