{% extends '_base.tmpl' %}
{% load static %}
{% block title %}SPI Media Gallery{% endblock %}

{% block extra_head %}
  <script src="{% static '/js/CollapsibleLists.js' %}"></script>
{% endblock %}

{% block body_attributes %}class="d-flex flex-column h-100" onload="CollapsibleLists.apply();" {% endblock %}

{% block body_contents %}
{% csrf_token %}
  <div class="container theme-showcase" role="main">
    {% include "_top_bar.tmpl" %}
    {% include "_main_nav.tmpl" %}
    <div class="col-lg-8 offset-lg-2 home-text">
      <h2>Welcome to SPI Media gallery</h2>
    </div>
    <div>
      <p>
        This tool was developed to be able to give easy access to files store on SPI infrastructure.
        <br>
        You can use the tool to:
      </p>
      <ul>
        <li>
          Search for a photo or video<br>
          The search bar is use to search any world that are in Photographer name; Location; Copyright; File path; File Name; Tag Name
        </li>
        <li>
          Medium<br>
          The medium is tab is used to filer content by Project; Location; Photographer; People; Media Type; Year; Status <br>
          The list of video or images can also order by Date Taken
          One the medium tab you can also select (Banner) image to be display on the website (Feature image)
        </li>
        <li>
          Click on an image or video<br>
          Once you choose an image or video you have the possibility to Download (multiple size); Comment or Preselect (use by the filter)
        </li>
        <li>
          Selection<br>
          The selection tab is used to add content to website. Once an image is select you have the possibility to add Tile; Weight; Description; Date Archived; Archive
          For the weight by default, the feature image (first one) is the heaviest
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
