{% extends '_base.tmpl' %}
{% load static %}
{% block title %}SPI Media Gallery{% endblock %}

{% block extra_head %}
    <script src="{% static '/js/CollapsibleLists.js' %}"></script>
{% endblock %}

{% block body_attributes %}class="d-flex flex-column h-100" onload="CollapsibleLists.apply();" {% endblock %}

{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_top_bar.tmpl" %}
        {% include "_main_nav.tmpl" %}
        <div class="row pd-15">
                <div class="col-lg-2">
                   <select id="project_id">
                            <option value="">Select Project</option>
                      {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.name|cut:'SPI project/' }}</option>
                      {% endfor %}
                   </select>
                </div>
                <div class="col-lg-2">
                   <select id="location_id">
                      {% for location in locations %}
                            <option value="{{ location.id }}">{{ location.name|cut:'Location/' }}</option>
                      {% endfor %}
                   </select>
                </div>
                <div class="col-lg-2">
                   <select id="photographer_id">
                      {% for photographer in photographers %}
                            <option value="{{ photographer.id }}">{{ photographer.name|cut:'Photographer/' }}</option>
                      {% endfor %}
                   </select>
                </div>
                <div class="col-lg-2">
                   <select id="people_id">
                      {% for people in peoples %}
                            <option value="{{ people.id }}">{{ people.name|cut:'People/' }}</option>
                      {% endfor %}
                   </select>
                </div>
                <div class="col-lg-2">
                   <select id="media_type">
                      <option value="">Media Type</option>
                      <option value="P">Images</option>
                      <option value="V">Video</option>
                   </select>
                </div>
       </div>
       <div class="row pd-15">
                <div class="col-lg-2">
                  <p><span id="medium_count">{{ count }} </span> results</p>
                </div>
                <div class="col-lg-2">
                   <select id="order_by_id">
                      <option value="">Order by</option>
                      <option value="datetime_taken">Date ASC</option>
                      <option value="-datetime_taken">Date DESC</option>
                   </select>
                </div>
                <div class="col-lg-2">
                   <select id="order_by_year">
                      <option value="">Order by Year</option>
                      {% for y in year_range %}
                        <option value="{{ y }}">{{ y }}</option>
                      {% endfor %}
                   </select>
                </div>
       </div>
       <div class="row" id="page-content">
        {% for fields in medium %}
            <div class="col-lg-4 selection-img medium-gallery-img">
              <a href="/media/{{ fields.id }}">
                {% if fields.thumbnail_type == "P" %}
                  <img src="{{ fields.thumbnail_url }}" >
                {% else %}
                  <video preload="metadata" class="img-relative">
                    <source src="{{ fields.thumbnail_url }}" type="{{ fields.thumbnail_content_type }}">
                  </video>
                {% endif %}
                </a>
                <div class="updatemediumModal_medium_btn">
                {% if fields.is_image_of_the_week == True %}
                    <input type="checkbox" id="is_image_of_the_week" class="is_image_of_the_week" name="is_image_of_the_week"
                    value="{{ fields.is_image_of_the_week }}"  data-mfile-id="{{ fields.id }}" checked>
                {% else %}
                    <input type="checkbox" id="is_image_of_the_week" class="is_image_of_the_week" name="is_image_of_the_week"
                    data-mfile-id="{{ fields.id }}" value="{{ fields.is_image_of_the_week }}" >
                {% endif %}
                 <label for="is_image_of_the_week">Banner</label>

                 <input type="hidden" id="fileid" name="fileid">
             </div>

            </div>
        {% endfor %}
        </div>
        <input type="hidden" id="page_id" value="2">
        <input type="hidden" id="project_value" value="">
    </div>
    <div class="loader">
       <center>
           <img class="loading-image" src="{% static 'images/loader.gif' %}" alt="loading..">
       </center>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static '/js/project_search.js' %}"></script>
<script>
$(window).scroll(function () {
     if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {
       page = $("#page_id").val();
       var project_id = $("#project_id").val();
       var location_id = $("#location_id").val();
       var photographer_id = $("#photographer_id").val();
       var people_id = $("#people_id").val();
       var media_type = $("#media_type").val();
       var order_by_year = $("#order_by_year").val();
       $.ajax({
           url: '/medium/',
           type: "get",
           data: {
               page: page,
               project_id: project_id,
               location_id: location_id,
               photographer_id: photographer_id,
               people_id: people_id,
               media_type: media_type,
               order_by_year: order_by_year
           },
           dataType: 'json',
           beforeSend: function(){
              $('.loader').show();
           },
          complete: function(){
               $('.loader').hide();
          },
           success: function (response) {
               $("#page-content").append(response.html);
               $("#page_id").val(response.page_number);
           }
       });
     }
});
</script>
{% endblock %}
