<a href="{% url 'display_random' type_of_medium='photo' %}">Photo</a> | <a href="{% url 'display_random' type_of_medium='video' %}">Video</a> | <a href="{% url 'display_random' type_of_medium='medium' %}">Media</a>
