{% extends 'base.tmpl' %}
{% block title %}SPI Media Gallery - Search result{% endblock %}

{% block contents %}

<h1>{{ tag_name }}</h1>
Total number of photos with this tag: {{ total_number_photos_tag }}


{% for photo in photos %}
    {% if forloop.first %}<div class="row">{% endif %}

    <div class="col-lg-3">
        <div class="thumbnail">
            <a href="/display/{{photo.id}}"><img src="{{photo.thumbnail}}" class="img-fluid img-thumbnail"></a>
        </div>
    </div>

    {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}

    {% if forloop.last %}</div>{% endif %}
{% endfor %}

{% endblock %}
