{% extends 'base.tmpl' %}
{% block title %}SPI Media Gallery - Search result{% endblock %}

{% block contents %}

<h1>{{ tag_name }}</h1>
Total number of photos with this tag: {{ total_number_photos_tag }}


<div class="container">
    <div class="card-columns">
{% for photo in photos %}
                <div class="card p-1">
                    <a href="/display/{{ photo.id }}"><img class="card-img-top" src="{{ photo.thumbnail }}" alt="Card image top"></a>
                </div>
{%endfor %}
    </div>
</div>

{% endblock %}
