{% extends '_base.tmpl' %}
{% load static %}
{% block title %}SPI Media Gallery - Search by multiple tags{% endblock %}

{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %}
        <br>
        <a href="/">Home</a>
        <h2>Select multiple tags</h2>
        Only media with all selected tags will be displayed.

        <form action="{% url 'search' %}" method="get">
            <table border="1">
                {{ form_search_by_multiple_tags }}
            </table>
            <div>
                <input type="submit" value="Search">
            </div>
        </form>
        <p>
    </div>
{% endblock %}
