{% extends 'base.tmpl' %}
{% block title %}SPI Media Gallery - Search result text{% endblock %}

{% block body_attributes %}class="d-flex flex-column h-100"{% endblock %}

{% block body_contents %}
        <div class="container theme-showcase" role="main">
            {% include "logo.tmpl" %} <h3>{{ tags_list }}</h3>
            {{ search_explanation }} (Total: {{ media.paginator.count }})
            <div class="container">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Duration</th>
                            <th>Low resolution</th>
                            <th>Original</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for medium in media %}
                            <tr>
                                <td><a href="/display/{{ medium.id }}">{{ medium.id }}</a></td>
                                <td>{{ medium.object_storage_key }} </td>
                                <td>{{ medium.duration_in_minutes_seconds }} </td>
                                <td><a href="{{ medium.link_for_low_resolution }}">Play ({{ medium.file_size_for_low_resolution }})</a></td>
                                <td><a href="{{ medium.link_for_low_original }}">Download ({{ medium.file_size_for_original }})</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p></p>
            </div>


    <div class="pagination">
    <span class="step-links">
        {% if media.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ media.previous_page_number }}">previous</a>
        {% else %}
            <span class="text-muted">
                &laquo; first
                previous
            </span>
        {% endif %}

        <span class="current">
            Page {{ media.number }} of {{ media.paginator.num_pages }}
        </span>

        {% if media.has_next %}
            <a href="?page={{ media.next_page_number }}">next</a>
            <a href="?page={{ media.paginator.num_pages }}">last &raquo;</a>
        {% else %}
            <span class="text-muted">
                next
                last &raquo;
            </span>
        {% endif %}
    </span>
</div>

        </div>
{% endblock %}
