{% extends '_base.tmpl' %}
{% block title %}SPI Media Gallery - Search result{% endblock %}

{% block body_attributes %}class="d-flex flex-column h-100"{% endblock %}

{% block body_contents %}
        <div class="container theme-showcase" role="main">
            {% include "_logo.tmpl" %} <h3>{{ tags_list }}</h3>
            {{ search_explanation }}
            <div class="container">
                <div class="card-columns">
                {% for medium in media %}

                    <div class="card p-1 {{ medium.border_color }}">

                    {% if medium.medium_type == "P" %}
                        <a href="{{ medium.get_absolute_url }}"><img class="card-img-top" src="{{ medium.thumbnail_url }}" alt=""></a>
                    {% else %}
                        <div class="embed-responsive {{ medium.video_embed_responsive_ratio }}">
                            <a href="{{ medium.get_absolute_url }}">
                                <video>
                                    <source src="{{ medium.thumbnail_url }}" type="{{ medium.resized_content_type }}">
                                </video>
                            </a>
                        </div>
                    {% endif %}
                    </div>

                {%endfor %}
                </div>
            </div>

            {% include "_pagination.tmpl" %}

        </div>
{% endblock %}
