{% extends '_base.tmpl' %}

{% block title %}SPI Media Gallery - Stats{% endblock %}

{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %} <H1>Stats for the SPI media gallery</H1>
        <ul>
            <li>Total number of photos: {{ total_number_photos }} (resized: {{ total_number_photos_resized }}, {{ percentage_number_photos_resized|floatformat:-2 }}%)</li>
            <li>Size of photos: {{ size_of_photos }} (resized: {{ size_photos_resized }} , {{ percentage_size_photos_resized|floatformat:-2 }}% resized)</li>
        </ul>
        <ul>
            <li>Total number of videos indexed: {{ total_number_videos }} (resized: {{ total_number_videos_resized }}, {{ percentage_number_videos_resized|floatformat:-2 }}%)</li>
            <li>Size of videos: {{ size_of_videos }} (resized: {{ size_videos_resized }}, {{ percentage_size_videos_resized|floatformat:-2 }}%)</li>
            <li>Total duration: {{ duration_videos }}</li>
        </ul>
    </div>
{% endblock %}
